<%#<h1>Tasks</h1>%>
<%#<%= form_for @new_task do|f| %>%>
<%#<ul>%>
  <%#<li><%= f.label @headers[:name]%><%= f.text_field :name %></li>%>
  <%#<li><%= f.label @headers[:due_time] %><%= f.datetime_select :due_time %></li>%>
  <%#<li><%= f.submit %></li>%>
<%#</ul>%>
<%#<% end %>%>
<%#<table id="task_list">%>
  <%#<thead>%>
    <%#<tr>%>
      <%#<% @headers.each_value do|h| %>%>
        <%#<th class="task_header"> <%= h %> </th>%>
      <%#<% end %>%>
    <%#</tr>%>
  <%#</thead>%>
  <%#<tbody>%>
    <%#<% @tasks.each do|t| %>%>
      <%#<tr class="task_line">%>
        <%#<% @headers.each_key do|h| %>%>
          <%#<td class="task_property"> <%= t[h] %> </td>%>
        <%#<% end %>%>
      <%#</tr>%>
    <%#<% end %>%>
  <%#</tbody>%>
<%#</table>%>
